.containerContacts {
  .bannerProduct {
    margin-top: 13rem;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 1.5rem;
    color: #c9a0a8;
    display: flex;
    justify-content: center;
  }
  .imgContainer {
    display: flex;
    justify-content: center;
    margin: 2rem;
    img {
      width: 18%;
      height: auto;
    }
    .info{
      
    }
  }
  .imgContainer2 {
    margin-left: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 30rem;
    font-size: 1.5rem;
    img {
      width: 6%;
      height: auto;
      margin-right: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .bannerProduct {
    margin-top: 9rem;
    h2 {
      font-size: 1.3rem;
    }
  }
}
